# Conditional

In [57]:
# if condition: 
#     statement

In [58]:
x = 0 
y = 5

if x < y: 
    print ('yes')

yes

In [59]:
if x: 
    print('yes')

In [60]:
if y: 
    print('yes')
    print('another activity')
    print('another activity 1')
    print('another activity 2')
    
print('this is outside of the if statement, karena indentnya udah diapus')

yes
another activity
another activity 1
another activity 2
this is outside of the if statement, karena indentnya udah diapus

In [61]:
# False = 0
# True = 1

In [62]:
if 'foo' in ('foo', 'bar', 'baz'): #True #Kalau ga ada foo nya nanti ga ke print
    print ('Outer condition is true')
    
    if 10 > 20: #kalau kondisi tidak terpenuhi tidak akan terprint
        print("inner condition 1") 
        
    print('Between inner condition')
        
    if 10 < 20: 
        print('inner condition 2')
            
    print('end of outer condition')
        
print('After outer condition')

Outer condition is true
Between inner condition
inner condition 2
end of outer condition
After outer condition

# Else and Elif Clauses

In [63]:
# if hujan: 
#     tidak keluar rumah
# else: 
#     bermain di luar rumah

In [64]:
x = 20

if x < 50: 
    print('(first suite)')
    print('x is small')
else: 
    print('(second suite)')
    print('x is large')

(first suite)
x is small

In [65]:
hargaBuku = 20000
hargaMajalah = 5000
uang = 2000

if uang > hargaBuku: 
    print('beli buku')
else: 
    print("uang tidak cukup")

uang tidak cukup

In [66]:
hargaBuku = 20000
hargaMajalah = 5000
uang = 10000

if uang > hargaBuku: 
    print('beli buku')
    
elif uang > hargaMajalah: 
    print('beli majalah')

else: 
    print("uang tidak cukup")

beli majalah

In [67]:
name = 'Hacktiv8'

if name == 'Fred':
    print('Hello Fred')
elif name == 'Xander':
    print('Hello Xander')
elif name == 'Hacktiv8':
    print('Hello Hacktiv8')
elif name == 'Arnold':
    print('Hello Arnold')
else: 
    print('I dont know who you are!')

Hello Hacktiv8

In [68]:
if 'a' in 'bar': #True
    print('foo')
elif 1/0:
    print('This will not happen')
elif var:
    print('This will not either')

foo

# One-line if statements

In [69]:
if 'f' in 'foo': print('1'); print('2'); print('3')

1
2
3

In [70]:
if 'f' in 'foo': 
    print('1')
    print('2')
    print('3')

1
2
3

In [71]:
x = 2
if x == 1: print('foo'); print('bar'); print('baz')
elif x == 2: print('qux'); print('quux'); print('qq')
else: print('corge'); print('grault')

qux
quux
qq

In [72]:
x = 2
if x == 1: 
    print('foo') 
    print('bar')
    print('baz')
elif x == 2: 
    print('qux') 
    print('quux') 
    print('qq')
else: 
    print('corge') 
    print('grault')

qux
quux
qq

# Conditional Expressions

In [73]:
raining = False

print("Let's go to the", "beach" if raining else "library")

Let's go to the library

In [74]:
age = 12

s = 'teen' if age < 21 else 'adult'

s

'teen'

In [75]:
'yes' if ('qux' in ('foo', 'bar', 'baz')) else 'no'

'no'

In [76]:
# m = a if a > b else b

In [77]:
# if a > b: 
#     m = a
# else: 
#     m = b

# Pass Statement

In [78]:
if True: 
    print('foo')

foo

In [79]:
if False: 
    print('foo')

# Iteration

In [80]:
# while condition: 
#     statement

In [81]:
n = 5
while n > 0:
    n -= 1 #n = n - 1
    print(n)

4
3
2
1
0

In [82]:
# i = 1

# while 1 < 6:
#     print(i)
#     i += 1

# The Python Break and Continue Statements

In [83]:
n = 10

while n > 0: 
    n -= 1
    if n == 2:
        break
    print(n)
        
print('Loop ended.')

9
8
7
6
5
4
3
Loop ended.

# Else Clause

In [84]:
n = 5

while n > 0:
    n -= 1
    print(n)
else: 
    print('Loop Done.')

4
3
2
1
0
Loop Done.

# Infinite Loops

In [85]:
# while True:
#     print('foo')

# Nested Loops

In [86]:
age = 100
gender = 'F'

if age < 18:
    if gender == "M":
        print('son')
    else:
        print('daughter')
elif age >= 18 and age < 65:
    if gender == "M":
        print("father")
    else:
        print("mother")
else: 
    if gender == "M":
        print('grandfather')
    else: 
        print('grandmother')

grandmother

In [87]:
a = ['foo', 'bar']

while len(a):
    print(a.pop(0))
    
    b = ['baz', 'qux']
    
    while len(b):
        print('>', b.pop(0))

foo
> baz
> qux
bar
> baz
> qux

In [88]:
a = ['foo', 'bar']

len(a)

2

# One-line while loops

In [89]:
n = 5
while n > 0: n -= 1; print(n)

4
3
2
1
0

# Python for Loop

In [90]:
a = ['foo', 'bar', 'baz']

In [91]:
a

['foo', 'bar', 'baz']

In [92]:
a = ['foo', 'bar', 'baz']

for i in a:
    print(i)

foo
bar
baz

In [93]:
d = {'foo':1, 'bar':2, 'baz':3}

for k in d:
    print(k)

foo
bar
baz

In [94]:
d = {'foo':1, 'bar':2, 'baz':3}

for k in d:
    print(d[k])

1
2
3

In [95]:
for k in d.values():
    print(k)

1
2
3

In [96]:
d.values()

dict_values([1, 2, 3])

In [97]:
d.items()

dict_items([('foo', 1), ('bar', 2), ('baz', 3)])

In [98]:
for k, v in d.items():
    print(k, ":", v)

foo : 1
bar : 2
baz : 3

# The range() function

In [99]:
for n in (0, 1, 2, 3, 4):
    print(n)

0
1
2
3
4

In [100]:
x = range(5)
x

range(0, 5)

In [101]:
for n in x:
    print(n)

0
1
2
3
4

In [102]:
for n in range(5):
    print (n)

0
1
2
3
4

# Altering for Loop Behavior

In [103]:
for i in ['foo', 'bar', 'baz', 'qux']:
    if 'b' in i:
        break
    print(i)

foo

In [104]:
for i in ['foo', 'bar', 'baz', 'qux']:
    if 'b' in i:
        continue
    print(i)

foo
qux

In [105]:
a = ['foo', 'bar', 'baz', 'qux']

a.pop(0)

'foo'

In [106]:
a

['bar', 'baz', 'qux']

In [107]:
a.pop(-1) #sama kyk del trus print

'qux'

In [108]:
a

['bar', 'baz']

In [109]:
for i in ['foo', 'bar', 'baz', 'qux']:
    print(i)
else:
    print('Done.')

foo
bar
baz
qux
Done.

In [110]:
temp = input("Ketikan temperatur yang ingin dikonversi, e.g.: 45F, 120C: ")

degree = int(temp[:-1])
i_convertion = temp[-1]

if i_convertion == "C":
    result = int(round((9 * degree) / 5 + 32))
elif i_convertion == "F":
    result = int(round((degree - 32) * 5 / 9))
else: 
    print("Masukkan input yang benar")
    
print("Temperaturnya adalah", result, "derajat")

Ketikan temperatur yang ingin dikonversi, e.g.: 45F, 120C: 45F
Temperaturnya adalah 7 derajat

In [111]:
while True: 
    msg = input("Ketikkan karakter: ").lower()
    print(msg)
    if msg == "stop":
        break

Ketikkan karakter: HACKTIV8
hacktiv8
Ketikkan karakter: stop
stop